#include <windows.h>
101 DIALOGEX 0, 0, 260, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "UnlockAllCards", 1001, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 76, 150, 10
    CONTROL "UnlockAllItems", 1002, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 88, 150, 10
    CONTROL "CardCraftableAll", 1003, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 100, 150, 10
    CONTROL "DisableNoDismantle", 1004, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 112, 150, 10

    LTEXT "DefaultGems", -1, 10, 124, 60, 10
    EDITTEXT 1005, 80, 122, 120, 12, ES_AUTOHSCROLL

    LTEXT "Difficulty", -1, 10, 138, 60, 10
    COMBOBOX 1008, 80, 136, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT "Win[4] Min", -1, 10, 154, 60, 10
    EDITTEXT 1009, 80, 152, 60, 12, ES_AUTOHSCROLL
    LTEXT "Win[4] Max", -1, 150, 154, 60, 10
    EDITTEXT 1010, 210, 152, 60, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON "Save", IDOK, 40, 170, 60, 14
    PUSHBUTTON "Cancel", IDCANCEL, 120, 170, 60, 14
END